<div ng-init="UC.session()">
	<div class="header">
		<h3 class="inline_block">Jason Social</h3>
		<h3 class="float_right inline_block">Welcome {{UC.current_user.name }}</h3>
		<a href=>Welcome {{UC.current_user.name }}</h3>
		<a href="#" ng-click="UC.logout()">Logout</a>
		<hr>
	</div>
</div>
	</div>
	<div class="messages" ng-controller="MessagesController as MC">
		<!-- newMessage Object -->
		<form ng-submit='MC.create(MC.newMessage)'>
			<div>
				<label>Post a message:</label>
			</div>
			<div>
				<textarea ng-model="MC.newMessage.message"></textarea>
			</div>
			<div>
				<input type="submit" name="Post Message">
			</div>
		</form>
		<div>
			<p class="error" ng-repeat="error in MC.new_message_errors">{{ error }}</p>
		</div>
		<div ng-init="MC.index()">
			<div ng-repeat="message in MC.messages" ng-init="index = $index">
				<!-- use unique loop iterator -->
				<h4 class="inline_block">{{message.user.name}} - {{message.createdAt}}</h4>
				<p class="inline_block">Likes: {{message.likes.count}}</p>
				<button ng-if="message.likes.users.indexOf(UC.current_user._id)==-1" ng-click="MC.updateLikes(message._id,UC.current_user._id)">Like</button>
				<a href="" ng-if="UC.current_user._id == message.user._id" ng-click="MC.destroy(message._id)">Delete</a>
				<p>{{message.message}}</p>
				<div ng-repeat="comment in message.comments">
					<h4 class="inline_block">{{comment.user.name}}-{{comment.createdAt}}</h4>
					<a href="" ng-if="UC.current_user._id==comment.user._id" ng-click="MC.destroyComment(comment._id)">Delete</a>
					<p>{{comment.comment}}</p>
				</div>
				<div class="left_indent">
					<!-- pass in index -->
					<form ng-submit="MC.createComment(MC.newComment, index, message._id)">
						<div>
							<label>Post a Comment:</label>
						</div>
						<div>
							<!--newComment[index] -->
							{{ index }}
							<textarea ng-model="MC.newComment[index].comment"></textarea>
						</div>
							<input type="submit" value="Post Comment">
					</form>
				</div>
			</div>
			
		</div>
	</div>
</div>
